# Razorpay Payout Credentials (Razorpay X)
# Get these from https://dashboard.razorpay.com/app/x/settings/api-keys
NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_X_ACCOUNT_NUMBER= # The account number from which money will be debited
RESEND_API_KEY=
